.position_0_0:not(.isMoving) {
  top: 5px;
  left: 5px;
}

.position_0_1:not(.isMoving) {
  top: 5px;
  left: 214px;
}

.position_0_2:not(.isMoving) {
  top: 5px;
  left: 433px;
}

.position_0_3:not(.isMoving) {
  top: 5px;
  left: 647px;
}

.position_1_0:not(.isMoving) {
  top: 219px;
  left: 5px;
}

.position_1_1:not(.isMoving) {
  top: 219px;
  left: 219px;
}

.position_1_2:not(.isMoving) {
  top: 219px;
  left: 433px;
}

.position_1_3:not(.isMoving) {
  top: 219px;
  left: 647px;
}

.position_2_0:not(.isMoving) {
  top: 433px;
  left: 5px;
}

.position_2_1:not(.isMoving) {
  top: 433px;
  left: 219px;
}

.position_2_2:not(.isMoving) {
  top: 433px;
  left: 433px;
}

.position_2_3:not(.isMoving) {
  top: 433px;
  left: 647px;
}

.position_3_0:not(.isMoving) {
  top: 647px;
  left: 5px;
}

.position_3_1:not(.isMoving) {
  top: 647px;
  left: 219px;
}

.position_3_2:not(.isMoving) {
  top: 647px;
  left: 433px;
}

.position_3_3:not(.isMoving) {
  top: 647px;
  left: 647px;
}

.row_from_0_to_0 {
  top: 5px;
}

.row_from_0_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_0_to_1;
  animation-name: row_from_0_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_0_to_1 {
  from {
    top: 5px;
  }

  to {
    top: 219px;
  }
}

@keyframes row_from_0_to_1 {
  from {
    top: 5px;
  }

  to {
    top: 219px;
  }
}

.row_from_0_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_0_to_2;
  animation-name: row_from_0_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_0_to_2 {
  from {
    top: 5px;
  }

  to {
    top: 433px;
  }
}

@keyframes row_from_0_to_2 {
  from {
    top: 5px;
  }

  to {
    top: 433px;
  }
}

.row_from_0_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_0_to_3;
  animation-name: row_from_0_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_0_to_3 {
  from {
    top: 5px;
  }

  to {
    top: 647px;
  }
}

@keyframes row_from_0_to_3 {
  from {
    top: 5px;
  }

  to {
    top: 647px;
  }
}

.row_from_1_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_1_to_0;
  animation-name: row_from_1_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_1_to_0 {
  from {
    top: 219px;
  }

  to {
    top: 5px;
  }
}

@keyframes row_from_1_to_0 {
  from {
    top: 219px;
  }

  to {
    top: 5px;
  }
}

.row_from_1_to_1 {
  top: 219px;
}

.row_from_1_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_1_to_2;
  animation-name: row_from_1_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_1_to_2 {
  from {
    top: 219px;
  }

  to {
    top: 433px;
  }
}

@keyframes row_from_1_to_2 {
  from {
    top: 219px;
  }

  to {
    top: 433px;
  }
}

.row_from_1_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_1_to_3;
  animation-name: row_from_1_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_1_to_3 {
  from {
    top: 219px;
  }

  to {
    top: 647px;
  }
}

@keyframes row_from_1_to_3 {
  from {
    top: 219px;
  }

  to {
    top: 647px;
  }
}

.row_from_2_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_2_to_0;
  animation-name: row_from_2_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_2_to_0 {
  from {
    top: 433px;
  }

  to {
    top: 5px;
  }
}

@keyframes row_from_2_to_0 {
  from {
    top: 433px;
  }

  to {
    top: 5px;
  }
}

.row_from_2_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_2_to_1;
  animation-name: row_from_2_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_2_to_1 {
  from {
    top: 433px;
  }

  to {
    top: 219px;
  }
}

@keyframes row_from_2_to_1 {
  from {
    top: 433px;
  }

  to {
    top: 219px;
  }
}

.row_from_2_to_2 {
  top: 433px;
}

.row_from_2_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_2_to_3;
  animation-name: row_from_2_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_2_to_3 {
  from {
    top: 433px;
  }

  to {
    top: 647px;
  }
}

@keyframes row_from_2_to_3 {
  from {
    top: 433px;
  }

  to {
    top: 647px;
  }
}

.row_from_3_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_3_to_0;
  animation-name: row_from_3_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_3_to_0 {
  from {
    top: 647px;
  }

  to {
    top: 5px;
  }
}

@keyframes row_from_3_to_0 {
  from {
    top: 647px;
  }

  to {
    top: 5px;
  }
}

.row_from_3_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_3_to_1;
  animation-name: row_from_3_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_3_to_1 {
  from {
    top: 647px;
  }

  to {
    top: 219px;
  }
}

@keyframes row_from_3_to_1 {
  from {
    top: 647px;
  }

  to {
    top: 219px;
  }
}

.row_from_3_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: row_from_3_to_2;
  animation-name: row_from_3_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes row_from_3_to_2 {
  from {
    top: 335px;
  }

  to {
    top: 433px;
  }
}

@keyframes row_from_3_to_2 {
  from {
    top: 647px;
  }

  to {
    top: 433px;
  }
}

.row_from_3_to_3 {
  top: 647px;
}

.column_from_0_to_0 {
  left: 5px;
}

.column_from_0_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_0_to_1;
  animation-name: column_from_0_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_0_to_1 {
  from {
    left: 5px;
  }

  to {
    left: 219px;
  }
}

@keyframes column_from_0_to_1 {
  from {
    left: 5px;
  }

  to {
    left: 219px;
  }
}

.column_from_0_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_0_to_2;
  animation-name: column_from_0_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_0_to_2 {
  from {
    left: 5px;
  }

  to {
    left: 433px;
  }
}

@keyframes column_from_0_to_2 {
  from {
    left: 5px;
  }

  to {
    left: 433px;
  }
}

.column_from_0_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_0_to_3;
  animation-name: column_from_0_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_0_to_3 {
  from {
    left: 5px;
  }

  to {
    left: 647px;
  }
}

@keyframes column_from_0_to_3 {
  from {
    left: 5px;
  }

  to {
    left: 647px;
  }
}

.column_from_1_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_1_to_0;
  animation-name: column_from_1_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_1_to_0 {
  from {
    left: 219px;
  }

  to {
    left: 5px;
  }
}

@keyframes column_from_1_to_0 {
  from {
    left: 219px;
  }

  to {
    left: 5px;
  }
}

.column_from_1_to_1 {
  left: 219px;
}

.column_from_1_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_1_to_2;
  animation-name: column_from_1_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_1_to_2 {
  from {
    left: 219px;
  }

  to {
    left: 433px;
  }
}

@keyframes column_from_1_to_2 {
  from {
    left: 219px;
  }

  to {
    left: 433px;
  }
}

.column_from_1_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_1_to_3;
  animation-name: column_from_1_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_1_to_3 {
  from {
    left: 219px;
  }

  to {
    left: 647px;
  }
}

@keyframes column_from_1_to_3 {
  from {
    left: 219px;
  }

  to {
    left: 647px;
  }
}

.column_from_2_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_2_to_0;
  animation-name: column_from_2_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_2_to_0 {
  from {
    left: 433px;
  }

  to {
    left: 5px;
  }
}

@keyframes column_from_2_to_0 {
  from {
    left: 433px;
  }

  to {
    left: 5px;
  }
}

.column_from_2_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_2_to_1;
  animation-name: column_from_2_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_2_to_1 {
  from {
    left: 433px;
  }

  to {
    left: 219px;
  }
}

@keyframes column_from_2_to_1 {
  from {
    left: 433px;
  }

  to {
    left: 219px;
  }
}

.column_from_2_to_2 {
  left: 433px;
}

.column_from_2_to_3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_2_to_3;
  animation-name: column_from_2_to_3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_2_to_3 {
  from {
    left: 433px;
  }

  to {
    left: 647px;
  }
}

@keyframes column_from_2_to_3 {
  from {
    left: 433px;
  }

  to {
    left: 647px;
  }
}

.column_from_3_to_0 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_3_to_0;
  animation-name: column_from_3_to_0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_3_to_0 {
  from {
    left: 647px;
  }

  to {
    left: 5px;
  }
}

@keyframes column_from_3_to_0 {
  from {
    left: 647px;
  }

  to {
    left: 5px;
  }
}

.column_from_3_to_1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_3_to_1;
  animation-name: column_from_3_to_1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_3_to_1 {
  from {
    left: 647px;
  }

  to {
    left: 219px;
  }
}

@keyframes column_from_3_to_1 {
  from {
    left: 647px;
  }

  to {
    left: 219px;
  }
}

.column_from_3_to_2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: column_from_3_to_2;
  animation-name: column_from_3_to_2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes column_from_3_to_2 {
  from {
    left: 647px;
  }

  to {
    left: 433px;
  }
}

@keyframes column_from_3_to_2 {
  from {
    left: 647px;
  }

  to {
    left: 433px;
  }
}

.column_from_3_to_3 {
  left: 647px;
}
